SeaBattle/SeaBattle/Service References/GameService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ShotStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Missed" />
      <xs:enumeration value="Hit" />
      <xs:enumeration value="Killed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShotStatus" nillable="true" type="tns:ShotStatus" />
  <xs:simpleType name="ShipOrientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horisontal" />
      <xs:enumeration value="Vertical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShipOrientation" nillable="true" type="tns:ShipOrientation" />
  <xs:simpleType name="DeckStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Damaged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeckStatus" nillable="true" type="tns:DeckStatus" />
</xs:schema>