SeaBattle/SeaBattle/Service References/GameService/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Request" />
  <xs:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entity.GameEntities" />
  <xs:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Common.Respose" />
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q1:AuthorizeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q2:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q3:CreateGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity.GameEntities" minOccurs="0" name="shot" nillable="true" type="q4:Shot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q5:ConnectToGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q6:SendReadyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticLastGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common.Request" minOccurs="0" name="request" nillable="true" type="q7:SendMessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q8:AuthorizeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q9:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoShotCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q10:ShotResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAvailableGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q11:GetListGamesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveConnectedOpponentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q12:CurentGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToGameCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q13:CurentGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReadyCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q14:SendReadyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q15:EndGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q16:AbortGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q17:StartChatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q18:RecieveMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPlayersCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q19:GetTopPlayersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticLastGamesCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q20:GetLastGamesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Common.Respose" minOccurs="0" name="response" nillable="true" type="q21:CreateGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOpponentIsReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>