SeaBattle/SeaBattle/Service References/GameService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Request" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entity.GameEntities" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Entity.Enums" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Common.Respose" />
      <xsd:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Common.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IService_DoShot_InputMessage">
    <wsdl:part name="parameters" element="tns:DoShot" />
  </wsdl:message>
  <wsdl:message name="IService_ConnectToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToGame" />
  </wsdl:message>
  <wsdl:message name="IService_SendReady_InputMessage">
    <wsdl:part name="parameters" element="tns:SendReady" />
  </wsdl:message>
  <wsdl:message name="IService_GetTopPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopPlayers" />
  </wsdl:message>
  <wsdl:message name="IService_GetStatisticLastGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticLastGames" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_AuthorizeCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeCallback" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterCallback" />
  </wsdl:message>
  <wsdl:message name="IService_DoShotCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DoShotCallback" />
  </wsdl:message>
  <wsdl:message name="IService_GetListAvailableGames_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetListAvailableGames" />
  </wsdl:message>
  <wsdl:message name="IService_GiveConnectedOpponentInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GiveConnectedOpponentInfo" />
  </wsdl:message>
  <wsdl:message name="IService_ConnectToGameCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConnectToGameCallback" />
  </wsdl:message>
  <wsdl:message name="IService_SendReadyCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendReadyCallback" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IService_EndGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IService_AbortGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AbortGame" />
  </wsdl:message>
  <wsdl:message name="IService_StartChat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartChat" />
  </wsdl:message>
  <wsdl:message name="IService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetTopPlayersCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetTopPlayersCallback" />
  </wsdl:message>
  <wsdl:message name="IService_GetStatisticLastGamesCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticLastGamesCallBack" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGameCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreateGameCallBack" />
  </wsdl:message>
  <wsdl:message name="IService_SendOpponentIsReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendOpponentIsReady" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Authorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Authorize" message="tns:IService_Authorize_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGame" message="tns:IService_CreateGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoShot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoShot" message="tns:IService_DoShot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConnectToGame" message="tns:IService_ConnectToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendReady">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendReady" message="tns:IService_SendReady_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTopPlayers" message="tns:IService_GetTopPlayers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticLastGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStatisticLastGames" message="tns:IService_GetStatisticLastGames_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessage" message="tns:IService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthorizeCallback" message="tns:IService_AuthorizeCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterCallback" message="tns:IService_RegisterCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoShotCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoShotCallback" message="tns:IService_DoShotCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAvailableGames">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListAvailableGames" message="tns:IService_GetListAvailableGames_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GiveConnectedOpponentInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GiveConnectedOpponentInfo" message="tns:IService_GiveConnectedOpponentInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToGameCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConnectToGameCallback" message="tns:IService_ConnectToGameCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendReadyCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendReadyCallback" message="tns:IService_SendReadyCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartGame" message="tns:IService_StartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EndGame" message="tns:IService_EndGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AbortGame" message="tns:IService_AbortGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartChat">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartChat" message="tns:IService_StartChat_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecieveMessage" message="tns:IService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopPlayersCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTopPlayersCallback" message="tns:IService_GetTopPlayersCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticLastGamesCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStatisticLastGamesCallBack" message="tns:IService_GetStatisticLastGamesCallBack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGameCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGameCallBack" message="tns:IService_CreateGameCallBack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOpponentIsReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendOpponentIsReady" message="tns:IService_SendOpponentIsReady_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="http://tempuri.org/IService/Authorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoShot">
      <soap12:operation soapAction="http://tempuri.org/IService/DoShot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConnectToGame">
      <soap12:operation soapAction="http://tempuri.org/IService/ConnectToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendReady">
      <soap12:operation soapAction="http://tempuri.org/IService/SendReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetTopPlayers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTopPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticLastGames">
      <soap12:operation soapAction="http://tempuri.org/IService/GetStatisticLastGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/AuthorizeCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/RegisterCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoShotCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/DoShotCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAvailableGames">
      <soap12:operation soapAction="http://tempuri.org/IService/GetListAvailableGames" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveConnectedOpponentInfo">
      <soap12:operation soapAction="http://tempuri.org/IService/GiveConnectedOpponentInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToGameCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/ConnectToGameCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReadyCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/SendReadyCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IService/StartGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IService/EndGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortGame">
      <soap12:operation soapAction="http://tempuri.org/IService/AbortGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartChat">
      <soap12:operation soapAction="http://tempuri.org/IService/StartChat" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopPlayersCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTopPlayersCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticLastGamesCallBack">
      <soap12:operation soapAction="http://tempuri.org/IService/GetStatisticLastGamesCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGameCallBack">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateGameCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOpponentIsReady">
      <soap12:operation soapAction="http://tempuri.org/IService/SendOpponentIsReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WSDualHttpBinding_IService" binding="tns:WSDualHttpBinding_IService">
      <soap12:address location="http://localhost:62184/Service.svc/httpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:62184/Service.svc/httpBinding</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>