SeaBattle/SeaBattle/Service References/GameService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62184/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDTOAwaitingGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOAwaitingGame" nillable="true" type="tns:DTOAwaitingGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOAwaitingGame" nillable="true" type="tns:ArrayOfDTOAwaitingGame" />
  <xs:complexType name="DTOAwaitingGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crearor" nillable="true" type="tns:DTOUser" />
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOAwaitingGame" nillable="true" type="tns:DTOAwaitingGame" />
  <xs:complexType name="DTOUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentGameId" type="ser:guid" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Games" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUser" nillable="true" type="tns:DTOUser" />
  <xs:complexType name="ArrayOfDTOUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOUser" nillable="true" type="tns:DTOUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOUser" nillable="true" type="tns:ArrayOfDTOUser" />
</xs:schema>